.pet-profile {
    .pet-profile-body, .pet-profile-footer, .pet-profile-header {
        max-width: 426px;
        margin: auto;
        @include tablet-up {
            max-width: none;
        }
    }
    
    .pet-profile-header, .pet-profile-body {
        padding: $spacing-main;
        border-bottom: 1px solid transparentize($black-gray, 0.7);

    }
    .pet-profile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-size: 22px;
            font-weight: 700;
        }
    }
    .pet-profile-body {
        ul {
            @include reset-list;

            li {
                margin-bottom: $spacing-main;
                display: flex;

                &>span:first-child {
                    font-weight: 700;
                    display: block;
                    width: 140px;
                }
                &.wide-content {
                    flex-direction: column;
                }
            }
        }
    }

    .pet-profile-footer {
        padding: $spacing-main;
    }
}