@import "pet-menu";
@import "pet-medical-info";
@import "pet-profile";
@import "pet-medical-placeholder";

$pet-img-max-width: 450px;
$pet-img-max-height: 270px;

.pet-detail {
  @include tablet-up {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-areas:
            "pet-image      pet-medical-info"
            "pet-profile    pet-medical-info"
            ".              pet-medical-info";
  }

  .pet-medical-info {
    grid-area: pet-medical-info;
  }

  .pet-profile {
    grid-area: pet-profile;
  }

  .pet-image {
    grid-area: pet-image;
    position: relative;
    max-width: $pet-img-max-width;
    margin: auto;

    img {
      // keep aspect ratio of 0.6
      width: 100%;
      height: 60vw;
      max-width: $pet-img-max-width;
      max-height: $pet-img-max-height;
      object-fit: cover;
      display: block;

      @include tablet-up {
        width: 320px;
        height: 200px;
      }
    }

    .gender-icon-container {
      position: absolute;
      top: 0;
      right: 0;
      padding: $spacing-xs;
      background: transparentize($white-gray-min, 0.1);
      border-radius: 0px 0px 0px $border-radius-main;

      span {
        display: block;
      }
    }
  }


  .tab-button-container {
    display: flex;
    border-radius: 0px 0px $border-radius-main $border-radius-main;
    box-shadow: $shadow-x0-y4;


    @include tablet-up {
      display: none;
    }

    button {
      display: block;
      width: 100%;
      padding: 12px;
      font-size: 18px;

      &:first-child {
        border-radius: 0px 0px 0px $border-radius-main;
        padding-left: 60px;
      }

      &:last-child {
        border-radius: 0px 0px $border-radius-main 0px;
        padding-right: 60px;
      }

      &.active {
        @include link-active;
      }

      &:active {
        background: $white-gray-min;
      }
    }

  }

  .tab-item {
    display: none;
    position: absolute;
    width: 100%;
    padding-bottom: $navbar-height-mobile;

    &.show {
      display: block;
    }

    @include tablet-up {
      display: block;
      position: static;
      margin-right: -15px;
    }

    @include desktop-up {
      padding-bottom: 0;
    }
  }

}