.explore-list {
  padding-bottom: $navbar-height-mobile;
  @include tablet-up {
    padding-bottom: 0;
  }

  > .no-results {
    padding: 1rem;
    color: $gray;
    border-top: 1px solid rgba($black-gray, 0.4);
  }

  > ul {
    list-style: none;
    padding-left: 0 !important;
    
  }

  .card {
    box-shadow: none;
    border-bottom: 1px solid rgba($black-gray, 0.4);
    cursor: pointer;
    border-radius: 0;
    margin: 0;

    &.active {
      background: $white-gray-min;

      .professional-types div {
        background: $white-gray;
      }
    }

    &:first-child {
      border-top: 1px solid rgba($black-gray, 0.4);
    }

    &:last-child {
      border-bottom: 0;
    }

    .professional-name {
      margin-bottom: .5rem;
    }

    .card-subtitle {
      font-size: 0.875rem;
      line-height: 160%;
      opacity: .6;
      margin: 0;
    }

    .professional-types {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      margin-bottom: -9px;
      div {
          background: $white-gray-min;
          border-radius: 4px;
          padding: 4px 8px;
          margin-right: 9px;
          margin-bottom: 8px;
      }
  }
  }
}

