.map-container {
  width: 100%;
}

.map-container-inner {
  height: 60vh;

  @include tablet-up {
    height: calc(100vh - #{$navbar-height-desktop});
  }
}

.H_ib {
  top: -60px;
}

.H_ib_close {
  top: 22px;
}

.H_ib_content {
  width: 300px;
}

.professional-type-tag {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: $spacing-xs $spacing-sm;
  color: #000000;

  background: $white-gray-min;
  border-radius: $border-radius-main;
  margin-right: $spacing-sm;

  &:last-of-type {
    margin-right: 0;
  }
}

.professional-card-header {
  padding-right: 1rem;
  margin-bottom: $spacing-sm;

  span {
    display: inline-block;
    margin-bottom: $spacing-sm;
  }
}

.professional-card-content {
  
  .professional-card-link-content {
    text-align: right;
    border-top: 1px solid rgba($black-gray, .4);
    margin: 0 -28px 0 -16px;
    padding-right: 28px;
    padding-top: 12px;

    a {
      margin: 0;
      font-size: 16px;
      line-height: 23px;
    }
  }
}

.professional-name {
  font-size: 16px;
  line-height: 23px;

  color: #000000;
}

.professional-location {
  font-size: 14px;
  line-height: 20px;

  color: #000000;

  opacity: 0.6;
}