.map-container {
    width: 100%;
}

.map-container-inner {
    height: 80vh;

    @include tablet-up {
        height: calc(100vh - 56px);
    }
    @include desktop-up {
        height: calc(100vh - 64px);
    }
}

.H_ib {
    top: -60px;
}