@import "explore-list";
@import "map";

.explore-container {
    display: flex;
    flex-direction: column;

    @include tablet-up {
        flex-direction: row-reverse;
    }

    .side-bar {
        min-width: 280px;
        overflow-y: auto;
        height: calc(100vh - 64px);

        .explore-filters {
            padding: 1rem;
            padding-top: 2rem;
        }
    }
}