@use "sass:map";

.main-btn {
    display: block;
    background: $yellow;
    box-shadow: $shadow-x0-y4;
    border-radius: $border-radius-main;
    padding: .625rem;
    width: 100%;

    font-weight: bold;
    line-height: 23px;
    text-transform: initial;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: $black-gray !important;

    transition: background-color 300ms;

    &:hover, &:focus {
        background: $clay;
    }
}

/* ---- Floating button ---- */

.float-circle-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  background: $yellow;
  box-shadow: 0 0 6px rgba(51, 51, 51, 0.25);
  border-radius: 100px;

  position: fixed;
  right: 1rem;
  bottom: 4.5rem;
  z-index: 180;

  transition: background-color 300ms;

  color: $black-gray;

  .material-icons {
    font-size: 2rem;
  }
}

.float-circle-btn.link {
  background: $white-gray;
  position: static;

  &:not(.default) {
    padding: $spacing-sm;

    .material-icons {
      font-size: 1.8rem;
    }
  }
}

/* ---- Floating button list ---- */

.v-dialog > .floating-links-list {
  list-style: none;
  width: auto;

  display: flex;
  flex-direction: column-reverse;

  position: fixed;
  right: 1rem;
  bottom: 4.5rem;

  li {
    &:not(:first-of-type) {
      margin-bottom: $spacing-sm;
    }

    a {
      color: #FFFFFF;
      text-decoration: none;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      > span {
        text-align: right;
      }

      .float-circle-btn {
        margin-left: 1.25rem;

        &:not(.default) {
          margin-left: $spacing-lg;
          margin-right: $spacing-xs;
        }
      }
    }
  }
}

@include desktop-up {
  /* ---- Floating button ---- */

  .float-circle-btn {
    right: 5rem;
    bottom: 2rem;

    &:hover, &:focus {
      background: $clay;
    }
  }

  /* ---- Floating button list ---- */

  .v-dialog > .floating-links-list {
    right: 5rem;
    bottom: 2rem;

    a:hover, a:focus {
      > span {
        text-decoration: underline;
      }

      .float-circle-btn {
        background: $clay;
      }
    }
  }
}

.drop-drown-container {
  width: auto;
}

/* ---- Delete button ---- */
.delete-btn {
  display: block;
  margin: auto;
  padding: $spacing-main;
  color: map.get($theme-colors, "danger");
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .5px;

  &:hover {
    opacity: .75;
  }
}

.v-btn.button-delete-account {
  color: map.get($theme-colors, "danger") !important;
  margin: auto;
  display: block;
  margin-top: $spacing-lg;
}