@use "sass:map";

.warn-dialog {
    .v-card__actions {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include tablet-up {
            flex-direction: row-reverse;
        }

        button {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: .5px;
            text-transform: uppercase;
            padding: 0.5rem 0.8rem;
            
            &.accept {
                color: white;
                margin-bottom: 1rem;
                border-radius: 3px;
                background: map.get($theme-colors, "danger");

                @include tablet-up {
                    margin-bottom: .5rem;
                }
            }

            &.cancel {
                @include tablet-up {
                    margin-right: .5rem;
                    margin-bottom: .5rem;
                }
            }
        }
    }
}