@mixin link-active {
    color: $clay;
  
    span:last-child {
      text-decoration: underline;
    }
}

.card {
  padding: 16px;
  background: white;
  box-shadow: $shadow-x0-y2;
  border-radius: 4px;
  margin-top: 16px;

  .card-title {
    font-size: 16px;
  }

  .card-subtitle {
    font-size: 14px;
  }

  .card-date {
    font-size: 12px;
    opacity: .5;
  }
}