@mixin link-active {
    color: $clay;
  
    span:last-child {
      text-decoration: underline;
    }
}

@mixin button-main {
  background: $yellow;
  box-shadow: $shadow-x0-y4;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  line-height: 23px;
  text-transform: initial;
  font-size: 16px;

  @include tablet-up {
    max-width: 250px;
  }
}

.card {
  padding: 16px;
  background: white;
  box-shadow: $shadow-x0-y2;
  border-radius: 4px;
  margin-top: 16px;

  .card-title {
    font-size: 16px;
  }

  .card-subtitle {
    font-size: 14px;
  }

  .card-date {
    font-size: 12px;
    opacity: .5;
  }
}