.loader {
    background: $white-gray;
    background-image: url('../loader.gif');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;

    @include fill-viewport-height-min-with-titlebar;
}