.pet-detail {
    @media (min-width: 768px) { 
        display: grid;
        grid-template-areas:
            "pet-image      pet-image   pet-medical-info    pet-medical-info    pet-medical-info"
            "pet-profile    pet-profile pet-medical-info    pet-medical-info    pet-medical-info"
             ".             .           pet-medical-info    pet-medical-info    pet-medical-info";
    }
    .pet-medical-info {
        grid-area: pet-medical-info;
    }
    .pet-profile {
        grid-area: pet-profile;
    }
    .pet-image {
        grid-area: pet-image;
        position: relative;
        
        .gender-icon {
            position: absolute;
            top: 3px;
            right: 3px;
        }
    }
    
    .pet-medical-info {
        display: flex;
        flex-direction: column;
        
        @media (min-width: 992px) { 
            flex-direction: row;
            flex-wrap: wrap;
        }

        .medical-container {
            padding: 16px;
            width: 100%;
            // TODO: remove height. It is only for testing
            height: 200px; 

            h2 {
                font-size: 20px;
            }  
            
            &.medicine {
                background-color: $white-gray;
            }
    
            &.vaccine {
                background-color: $white-gray;
                @media (min-width: 992px) { 
                    background: $white-gray-min;
                } 
            }
            
            &.weight {
                @media (min-width: 768px) { 
                    background: $white-gray-min;
                }
                @media (min-width: 992px) { 
                    order: -2;
                    width: 50%;
                }
            }
    
            &.observation {
                @media (min-width: 768px) {
                    background: $light-gray;
                }
                @media (min-width: 992px) { 
                    order:-1;
                    width: 50%;
                }
            }
        }
    }

    .pet-profile {
        ul {
            @include reset-list;
        }
    }

    .v-tabs {
        @media(min-width: 768px) {
            display: none;
        }
    }

    .tab-item {
        display: none;
        position: absolute;
        width: 100%;

        &.show {
            display: block;
        }

        @media (min-width: 768px) {
            display: block;
            position: static;
        }
    }
    
}