@use "sass:map";

#skip-to-content a {
  margin: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: $border-radius-main;
  background: map.get($theme-colors, "info");
  transition: top 1s ease-out;
  z-index: 100;
}

#skip-to-content a:focus {
  top: 0;
  outline-color: transparent;
  transition: top .1s ease-in;
}
