@import "abstracts/variables";
@import "abstracts/classes";
@import "components/construction";
@import "components/buttons";
@import "components/general";
@import "components/image-source-notification";
@import "components/loader";
@import "components/main-forms";
@import "components/no-pet";
@import "components/skip-to-content";
@import "pages/explore/main";
@import "pages/pet/main";
@import "layout/navbar";
@import "layout/title-bar";

* {
  font-family: 'Jost', sans-serif;
}

.v-main__wrap{
  min-height: 100%;
  >div{
    min-height: 100%;
  }
}
