@use "sass:map";

.owner-share-list {
    padding-bottom: $navbar-height-mobile;

    .intro {
        padding: $spacing-main;
        background: $white-gray-min;
        box-shadow: inset 0 8px 8px -6px rgb($black-gray, 0.15);

        @include desktop-up {
            background: none;
        }

        p {
            margin: 0;
        }
    }

    ul {
        @include reset-list;
    }

    .share-list-item {
        border-bottom: 1px solid rgba($black-gray, 0.4);
        @include desktop-up {
            border-bottom: 0;
        }

        a {
            color: map.get($theme-colors, "info");
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .theme--light.v-expansion-panels .v-expansion-panel--disabled {
            color: black;
        }

        .professional-container {
            display: flex;
            padding: $spacing-main;
            padding-bottom: 0;
            justify-content: space-between;
            font-size: 14px;
            color: $black-gray;
            

            @include desktop-up {
                background: $white-gray-min;
                padding-bottom: $spacing-main;
                box-shadow: $shadow-x0-y4;
            }

            a {
                color: $brick;
                text-decoration: none;
                font-size: 18px;
            }
        }

        .v-expansion-panel-header {
            padding: .75rem $spacing-main;
            font-size: 1rem;
            @include desktop-up {
                width: auto;
                min-width: 300px;
            }

            .shared-pet-overview {
                display: flex;

                a {
                    @include desktop-up {
                        color: black;
                    }
                }
            }

            img {
                width: 48px;
                height: 48px;
                object-fit: cover;
                border-radius: $border-radius-main;
                margin-right: $spacing-main;
            }
            
            .pet-container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                p {
                    margin-bottom: 0;

                    &.pet-name {
                        font-weight: 500;
                    }

                    &.expiration {
                        font-size: 14px;
                    }
                }
            }
        }

        .v-expansion-panel-content {
            @include desktop-up {
                align-items: flex-end;
            }

            .quote-container {
                padding-top: $spacing-main;
                color: $gray;

                @include desktop-up {
                    max-width: 800px;
                    padding-top: 0;
                }

                .quote-intro {
                    margin-bottom: $spacing-sm;
                    font-size: 14px;

                }
            }

            .pet-profile-link {
                font-size: 15px;
                margin-left: 2rem;
                font-weight: 500;

                display: none;

                @include desktop-up {
                    display: inline-block;
                }
            }

            button {
                color: map.get($theme-colors, "danger");
                float: right;
                font-size: 14px;
                @include desktop-up {
                    float: none;
                }

                i {
                    color: map.get($theme-colors, "danger");
                    margin-top: -3px;
                }
            }

            .v-expansion-panel-content__wrap {
                padding: $spacing-main;
                box-shadow: 
                    inset 0 8px 8px -6px rgb($black-gray, 0.15), 
                    inset 0 -8px 8px -6px rgb($black-gray, 0.15);
                
                @include desktop-up {
                    box-shadow: none;
                }
            }
        }

        .v-expansion-panel {
            &:nth-child(2n) {
                background: #F5F5F5;

                @include desktop-up {
                    background: none;
                }
            }

            @include desktop-up {
                display: flex;
                border-bottom: 1px solid rgba($black-gray, 0.4);
                background: none!important;

                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }

    li:last-child {
        .share-list-item {
            border-bottom: 0;
        }
    }
}