@use "sass:map";

.professional-form-container {
    padding-bottom: $navbar-height-mobile;
    @include desktop-up {
        padding-bottom: 0;
    }
    .register-alert {
        margin-bottom: $spacing-xs;
    }
    form {
        background: $white-gray;
    }
}
.professional-form {
    .fieldset-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop-up {
            flex-direction: row;
            align-items: stretch;
            margin-bottom: 3rem;
        }

        &>fieldset {
            margin-top: -2rem;
            margin-bottom: $spacing-xl;
            width: 100%;
            max-width: 450px;

            padding: $spacing-main;
            background: white;
            border-radius: $border-radius-main;
            box-shadow: $shadow-x0-y4;

            @include tablet-up {
                width: 450px;
            }

            @include desktop-up {
                flex-basis: 33%;
                margin: -2rem $spacing-sm;
                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    legend {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: $spacing-sm;
        padding-top: 3.5rem;
    }

    .v-input--switch {
        margin-top: -1rem;
    }

    .preview-container {
        height: 260px;
        .preview {
            width: 150px;
            height: 150px;
            margin: auto;
            border-radius: $border-radius-main;
        }
    }

    button.main-btn {
        max-width: 450px;
        margin: auto;

        @include desktop-up {
            margin-right: 0;
            width: calc(33% - .5rem);
        }
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $spacing-sm;

        @include desktop-up {
            flex-direction: row-reverse;
            justify-content: space-between;
        }

    }

    .v-btn.button-delete-account {
        @include desktop-up {
            margin-top: 0;
        }
    }
}