.professional-home {
    .home-container {
        padding: $spacing-main;
    }
    
    .profile-card {
        display: flex;
        align-items: center;
        padding: 0 $spacing-main;

        .v-avatar {
            margin: $spacing-main 0;
        }

        margin-bottom: $spacing-xl;
    }
}