.professional-profile {
    padding-bottom: $navbar-height-mobile;
    @include desktop-up {
        padding-bottom: 0;
    }

    .profile-container {
        display: flex;
        flex-direction: column;

        @include desktop-up {
            flex-direction: row;
            min-height: calc(100vh - $navbar-height-desktop - $titlebar-height);
        }

        .profile-main-content {
            position: relative;

            @include desktop-up {
                flex-basis: 66%;
            }
            
            .float-circle-btn {
                img {
                    width: 32px;
                }
                @include desktop-up {
                    position: absolute;
                }
            }
        }
    
        aside {
            background: $light-gray;
            border-top: 1px solid $white-gray;
            border-bottom: 1px solid $white-gray;
    
            @include tablet-up {
                display: flex;
                justify-content: space-between;
            }
    
            @include desktop-up {
                flex-direction: column;
                flex-basis: 33%;
                flex-grow: 1;
                justify-content: flex-start;
                border-top: none;
                border-bottom: none;
                border-left: 1px solid $white-gray;
                box-shadow: 
                    inset 0 8px 8px -6px rgb($black-gray, 0.15), 
                    inset 0 -8px 8px -6px rgb($black-gray, 0.15);
            }
        }
    }

    .intro {
        padding: 
            $spacing-lg
            $spacing-main 
            calc($spacing-lg - $spacing-sm) 
            $spacing-main;

        .profile-img {
            margin: auto;
        }

        h2 {
            text-align: center;
            margin: $spacing-sm 0;
        }

        .professional-types {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            div {
                padding: $spacing-xs $spacing-sm;
                background: $white-gray-min;
                border-radius: $border-radius-main;
                margin-right: $spacing-sm;
                margin-bottom: $spacing-sm;
            }
        }
    }

    .description {
        padding: 0 $spacing-main;

        h3 {
            padding-bottom: $spacing-xs;
        }
    }

    .location {
        padding: 12px $spacing-main;
        
        span {
            display: block;
            font-size: 14px;
        }

        a {
            margin-top: $spacing-sm;
        }

        h3 {
            margin-bottom: $spacing-sm;
        }
        
    }

    .contact {
        padding: 12px $spacing-main;
        
        span {
            display: none;
        }

        .contact-data-container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 12px;
            padding-left: 0;

            @include desktop-up {
                flex-direction: column;
                flex-wrap: nowrap;

            }

            & > li {
                width: 33%;
                max-width: 80px;
                margin-bottom: $spacing-main;
                list-style: none;

                @include tablet-up {
                    width: auto;
                    max-width: none;
                    margin-right: 3rem;
                }

                
            }
        }
    }

    .contact, .location {
        a {
            display: flex;
            align-items: center;
            color: $black-gray;
            font-size: 14px;
            text-decoration: none;

            &:hover {
                color: $gray;
                opacity: .8;
            }
            

            img {
                height: 36px;
            }

            span {
                margin-left: $spacing-sm;
                

                @include desktop-up {
                    display: block;
                }
            }
        }
    }
}