@import "user-profile";

.form-login {
    .forgot-password {
        text-align: center;
        padding: 1.5rem;
        padding-bottom: 2.5rem;
    }
    .register {
        padding-top: 1rem;
    }
}